<legend>Student Update Password</legend>
        
            <div class="form-group">
                <label for="">Password :</label>
                <input type="password" class="form-control" [(ngModel)]="password" (blur)="validatePassword()" placeholder="choose new  password" required>
                <div class="alert alert-danger" *ngIf="passwordError" >
                    Password is short,empty or two password are not matching
                </div>

                <label for="">Confirm Password :</label>
                <input type="password" class="form-control" [(ngModel)]="confirmPassword" (blur)="validatePassword()" placeholder="confirm new password" required>      
            </div>
        
            <button type="submit" class="btn btn-success" (click)='updatePassword()'>Change Password</button>
            
            <button type="reset" class="btn btn-danger"> Clear </button>
